<div class="panel panel-default">
  <div class="panel-heading">
    <h4> <%=title%> </h4>
  </div>
  <div class="panel-body">
    <ul class="media-list">
      <% projects.each do |project| %>
        <li class="media">
          <div>
          <a class="pull-left" href=<%=project.link%>>
          <%= image_tag project.thumb, :class=>"media-object img-thumbnail"%>
          </a>
          <div class="media-body">
            </br>
            <h4 class="media-heading"><%=project.title%></h4></br>
            <%=project.description.html_safe%>
          </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
