<div class="center row">
    <div class="col-md-12">
        I really love to take photos of the insects I see. Here are some of my
        favorites.
        <br/>
        <br/>
        <%= image_tag "bugs/redsnail.jpg", :class=>"style_image" %><br/>
        Snail in Niah National Park, Malaysia © 2009 Phil Ngo
        <br/>
        <br/>
        <%= image_tag "bugs/whitebug.jpg", :class=>"style_image" %><br/>
        White hairy insect in Lambir Hills National Park, Malaysia © 2009
        Phil Ngo
        <br/>
        <br/>
        <%= image_tag "bugs/seabug.png", :class=>"style_image" %><br/>
        Small bug by the sea on Pangkor Island, Malaysia © 2010 Phil Ngo
        <br/>
        <br/>
        <%= image_tag "bugs/greenteal.jpg", :class=>"style_image "%><br/>
        Beautifully colored katydid in Lambir Hills National Park, Malaysia
        © 2009 Phil Ngo
        <br/>
        <br/>
        <%= image_tag "bugs/bipalium.jpg",:class=>"style_image" %><br/>
        Bipalium in Niah National Park, Malaysia © 2009 Phil Ngo
        <br/>
        <br/>
        <%= image_tag "bugs/gloucester.png", :class=>"style_image" %><br/>
        Weevil on my arm in Gloucester, Massachusetts © 2011 Phil Ngo
        <br/>
        <br/>
        <%= image_tag "bugs/centipede.png", :class=>"style_image" %><br/>
        Cyanide millipede in Singapore © 2011 Phil Ngo
        <br/>
        <br/>
        <%= image_tag "bugs/scorpion.jpg", :class=>"style_image" %><br/>
        Defensive stance of a vinegaroon, Lambir Hills National Park, Malaysia
        © 2011 Phil Ngo
        <br/>
        <br/>
        <%= image_tag "bugs/caterpillar2.jpg", :class=>"style_image" %><br/>
        Tussock moth caterpillar on tile in Singapore © 2011 Phil Ngo
        <br/>
        <br/>
    </div>
</div>
