<div class="center row">
    <div class="col-md-12">
          <%= image_tag "bugs/redsnail.jpg", :class=>"style_image" %><br/>
        <%= image_tag "bugs/whitebug.jpg", :class=>"style_image" %><br/>
        <%= image_tag "bugs/seabug.png", :class=>"style_image" %><br/>
        <%= image_tag "bugs/greenteal.jpg", :class=>"style_image "%><br/>
        <%= image_tag "bugs/bivarium.jpg",:class=>"style_image" %><br/>
        <%= image_tag "bugs/gloucester.png", :class=>"style_image" %><br/>
        <%= image_tag "bugs/centipede.png", :class=>"style_image" %><br/>
        <%= image_tag "bugs/scorpion.jpg", :class=>"style_image" %><br/>
        <%= image_tag "bugs/caterpillar2.jpg", :class=>"style_image" %><br/>
    </div>
</div>
