<div class="center row-fluid">
    <div class="span3">
    </div>
    <div class="span6">
        <%= image_tag "india.png"%><br/>
        <%= image_tag "bells.png"%><br/>
        <%= image_tag "short.png"%><br/>
        <%= image_tag "olympus.png"%><br/>
        <%= image_tag "franconia.png"%><br/>
    </div>
    <div class="span3">
    </div>
</div>
