<div class="row-fluid">
    <div class="span2">
    </div>
    <div class="span8">
    <dl class="dl-horizontal">
      <dt>Software</dt>
      <dd>
        A mobile-optimized web app called
        <%= link_to "Jot it!", "http://jot-it.herokuapp.com" %>
        that I helped build at Idealab (currently in alpha testing)
      </dd><dd>
        A very silly
        <%= link_to "video", "http://www.youtube.com/watch?v=2MbfRtTNZlQ" %>
        outlining my CS50 project, <%= link_to "Harmonizer",
        "https://github.com/philngo/harmonizer" %>
      </dd><dd>
        (CS50 is Harvard's Intro to Computer Science course, for which I am now a
      course assistant)
      </dd><dd>
        A location-aware, google-calendar synced, auto-updating availability
        list called <%= link_to "rambl", "http://rambl.philngo.me" %>
        (under construction)
      </dd>
      <dt>Chemistry</dt>
      <dd>
        Research Project for Chemistry 100: Experimental Chemistry and Chemical
        Biology
      </dd><dd>
        <%= link_to "Continuing the synthesis of (S)-α- (O-glycine)-β-
        (N1-thymine)-propanoic acid nucleotide",
        "/assets/papers/Ngo_PNAresearch_Final_Draft.pdf" %>
      </dd>
      <dt>Other</dt>
      <dd>
        A <%= link_to "bike-powered lathe",
        "http://www.youtube.com/watch?v=ftWxtVFpB2w" %> I build last summer
      </dd>
    </dl>
    </div>
    <div class="span2">
    </div>
</div>
